
.App {
  text-align: center;
  padding: 20px;
}
.appHeading{
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  position: relative;
  height: 100vh;
  top:0;
  left: 0;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videoAndCaption{
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
}
.videoAndCaptionContent{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.invalidUrlText{
  color:red;
  margin:5px 0px 0px 60px;
}
.videoUrl{
  margin-top:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoUrlInput{
  margin-left: 10px;
}

.captionBox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.captionAndTimeInputFields{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.captionInput{
  margin:10px;
}
.timeInput{
  margin: 10px;
}
.inputBox{
  padding:10px;
}
.addCaptionButton{
  margin-top: 10px;
  cursor: pointer;
  height:40px;
  width: 80px;
  padding:10px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: none;
  background-color: #171717;
  color: white;
}
.addCaptionButton:hover{
  background-color: #8B93FF;
}
.captionList{
  height:80vh;
  width:250px;
  background-color: #FFFAE6;
  overflow: auto;
  z-index: 1000;
}
.captions{
  padding:5px 10px 5px 10px;
}
.videoPlayer{
  width: 400px;
  height:200px;
  position: relative;
}
.noCaptionPresent{
  margin: 20px;
}
.captionsContainer {
  position: relative;
  bottom: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5em;
  text-shadow: 0 0 5px black;
}
